body {
  background-image: url("./johannes-plenio-RwHv7LgeC7s-unsplash.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-color: maroon;
}

.rectangle {
  height: 100vh;
  width: 25vw;
  background-color: #611818
}

.container {
  position: absolute;
  color: white;
  margin-bottom: auto;
  top: 50%;
  left: 3.5vw;
}

.explore {
  font-family: serif;
  font-size: 17vw;
  font-weight: bolder;
  letter-spacing: .4vw;
}

.more-details {
  position: absolute;
  bottom: 20vh;
  left: 7vw;
}

.iconSpan {
  position: relative;
  color: white;
  font-size: 2vw;
  top: 2vh;
}

.iconText {
  position: relative;
  float: right;
  margin-left: 1vw;
}








     