body {
  background-image: url("./johannes-plenio-RwHv7LgeC7s-unsplash.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

.rectangle {
  position: absolute;
  height: 100vh;
  width: 25vw;
  background-color: #611818
}

.explore-text {
  font-family: serif;
  position: absolute;
  color: white;
  bottom: 10vh;
  margin-left: 4vw;
  font-size: 18vw;
  letter-spacing: 2px;
}

.moreBtn {
  position: absolute;
  bottom: 10vh;
  margin-left: 15vw;
}

.card {
  position: absolute;
  bottom: -30vh;
  left: 15vw;
}

.show {
  display: block;
}

.hide {
  display: none;
}